@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&family=Arizonia&family=Exo');

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;

}


a{
    text-decoration: none;
    color: inherit;
}
/*HEADER*/
li {
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
 li, a.head,  button.header{
    font-family: "MuseoModerno", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:#000000;
    text-decoration: none;

}


header {
    position: relative;
    padding: 0.2rem 2rem;
    background-color: #1A1A19;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .nav_links{
    display: flex;
    gap: 2rem;
}

.navbar a.head, .dropdown_menu a.head{
    color: white;

}

.navbar .toggle_btn{
    color: #fff;
    font-size: 1.5rem;
    cursor:pointer;
    display:none;
}


header a.logo img{
    width: 100px;
    height: auto;
}


.nav_links li a, .dropdown_menu li a {
    transition: all 0.3s ease 0s;
}

.navbar li a.head:hover,
.navbar li a.head.active,
.dropdown_menu li a.head:hover,
.dropdown_menu li a.head.active {
    color: #41B06E;
    border-bottom: 3px solid #41B06E;
}

button.header{
    padding: 9px 25px;
    background-color: #1A1A19;
    border: 2px solid #41B06E;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color:#41B06E;
    font-size: 15px;
}

button.header:hover{
    background-color: #41B06E;
    border-color: #1A1A19;
    color: #1A1A19;
}
/*DROPDOWN MENU*/
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 3;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu button.header{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.dropdown_menu.open{
    height: 240px;

}
/*RESPONSIVE DESIGN*/

@media(max-width: 992px) {
    .navbar .nav_links, .navbar button.header{
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }
}

@media(max-width: 576px) {
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}

body{
    background-color: #F6FCDF;
    padding:0;
    margin:0;
   }

.home, div.main-carousel-container, section.cta, div.flipbook-container, div.flashcard-container{
    animation: transitionIn 1s;
}

@keyframes transitionIn {
from {
    opacity: 0;
    transform: translateY(50px);
}
to {
    opacity: 1;
    transform: translateY(0);
}
}