@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&family=Arizonia&family=Exo&family=Dancing+Script');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    scroll-behavior: smooth;
    text-decoration: none;
}

.flipbook-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f6fcdf;
    color: #333;
}

/*BOOK*/
.flipbook-container .book {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 500px;
    height: 700px;
    margin: auto;
    transition: transform 0.5s;
   
}

.flipbook-container .paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;
    
}

.flipbook-container .front,
.flipbook-container .back {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.flipbook-container .front {
    z-index: 1;
    backface-visibility: hidden;
    border-left: 3px solid grey;
}

.flipbook-container .back {
    z-index: 0;
}

.flipbook-container .front-content,
.flipbook-container .back-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.flipbook-container .back-content {
    transform: rotateY(180deg);
}

.flipbook-container .back-content, .flipbook-container .front-content{
    flex-direction: column;
}

.flipbook-container .flipped .front,
.flipbook-container .flipped .back {
    transform: rotateY(-180deg);
}


.flipbook-container button:focus {
    outline: none;
}

.flipbook-container button:hover i {
    color: #636363;
}

.flipbook-container i {
    font-size: 50px;
    color: gray;
}

.flipbook-container #p1 {
    z-index: 15;
}
.flipbook-container #p2 {
    z-index: 14;
}
.flipbook-container #p3 {
    z-index: 13;
}
.flipbook-container #p4 {
    z-index: 12;
}
.flipbook-container #p5{
    z-index: 11;
}
.flipbook-container #p6{
    z-index: 10;
}
.flipbook-container #p7{
    z-index: 9;
}
.flipbook-container #p8{
    z-index: 8;
}
.flipbook-container #p9{
    z-index: 7;
}
.flipbook-container #p10{
    z-index: 6;
}
.flipbook-container #p11{
    z-index: 5;
}
.flipbook-container #p12{
    z-index: 4;
}
.flipbook-container #p13{
    z-index: 3;
}
.flipbook-container #p14{
    z-index: 2;
}
.flipbook-container .flipbook-container#p15{
    z-index: 1;
}

.flipbook-container .back-content h1{
    font-family: "Arizonia";
    font-size: 4em;
}

.flipbook-container .paper img{
    width: 300px;
    height: auto;
    border: 5px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flipbook-container .front-content{
    font-family: "Dancing Script";
    font-size: 2em;
    color: black;
    text-align: left;
}

.flipbook-container .title-ref h1{
    font-family: "Dancing Script";
    font-size: 40px;
}

.flipbook-container .front-content .info{
    font-size: 0.8em;
}

.flipbook-container .front-content .info span{
    font-family: "Exo";
    font-weight: bold;
}

.flipbook-container .front-content .details-container{
    overflow-y: auto;
    width: 80%;
    height: 600px;
}

.flipbook-container .front-content .details-container::-webkit-scrollbar{
    width: 15px;
}
.flipbook-container .front-content .details-container::-webkit-scrollbar-thumb{
    background-color: rgb(78, 50, 7);
}

.flipbook-container .front-content .details-container::-webkit-scrollbar-track{
    background-color: transparent;
}

.flipbook-container .book .paper .front-content{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: url("flipbook/details-cont.avif");
    background-size: cover;
    background-repeat: no-repeat;

}

.flipbook-container .book .paper .back-content{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: url("flipbook/image-cont.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

.flipbook-container .paper:first-child .front-content{
    background: url("flipbook/cover.png");
    background-size: cover;
    background-repeat: no-repeat;

}

.flipbook-container .paper:first-child .back-content{
    background: url("flipbook/back-cover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.flipbook-container .paper:nth-child(2) .front-content{
    background: url("flipbook/right-page-cover.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.flipbook-container .paper:nth-child(2) .back-content,.flipbook-container .paper:nth-child(3) .front-content{
    background: url("flipbook/contents.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.flipbook-container .paper:last-child .front-content,.flipbook-container .paper:nth-last-child(3) .back-content, .flipbook-container  .paper:nth-last-child(2) .front-content{
    background: url("flipbook/back-cover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.flipbook-container .paper:last-child .back-content{
    background: url("flipbook/cover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.flipbook-container .paper:nth-child(2) .back-content img{
   width: 500px;
   border: none;
   box-shadow: none;
}

.flipbook-container  .paper:nth-last-child(2) .back-content{
    background: url("flipbook/developer-page.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.flipbook-container ul.contents {
    height: 500px;
    width: 60%;
}

.flipbook-container ul.contents li a{
    display:flex;
    font-family: "Dancing Script";
    font-size: 1.5em;
    height: 30px;
    width: 100%;
    color: #333;
    border-bottom: 3px solid #333;
    margin-top: 10px;
    line-height: 30px;
}

.flipbook-container ul.contents li{
    width: 100%;
    list-style:circle;
}

/* INPUT DESIGN */

.flipbook-container .input-container {
    width: 60%;
    align-items: left;
    display: grid;
    gap: 1ch;
    position: relative;
    max-width: 100%;
    font-family: 'Exo';
    color: black;
    margin-top: 60px;
    margin-bottom: -26px;
}
  
.flipbook-container  .input-field {
    padding: 0.5em 0.75em;
    border-radius: 0.2em;
    font-size: 1rem;
    letter-spacing: 0.1ch;
    width: 100%;
    background-color: transparent;
}
  
.flipbook-container  .input-field:not(:placeholder-shown) + .input-label {
    transform: translateY(-150%);
    opacity: 1;
}
  
.flipbook-container  ul.contents2 {
    height: 550px;
    width: 70%;
}

.flipbook-container ul li.references{
    width: 100%;
    font-family: "Exo";
    font-size: 18px;
}

/* FLASH CARD */



.flashcard-container{
    min-height: 100vh;
    margin: 0; 
    margin-top: 100px;;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F6FCDF;
    display: none;
}
 
.wrapper{
    position: relative;
    width: 100%;
    height: 380px;
    perspective: 1200px;
    overflow: hidden;
    color: #dddddd;
}

.single-card{
    cursor: pointer;
    position: absolute;
    width: 250px;
    height: auto;
    text-align: left;
    background-color: #504136;
    border-radius: 10px;
    padding: 20px;
    left: calc(50% - 120px);
    top: 0;
    transition: all .5s cubic-bezier(0.7, -0.5, 0.3, 1.8);
    transform-style: preserve-3d;
    border: 3px solid black;
    
}

.single-card .front, .single-card .back{
    position: relative;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    will-change: transform;
}

.single-card .front img{
    position: absolute;
    width: 100%;
    height: 200px;
    border-radius: 20px;
    border: 5px solid black;
    left: -5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    pointer-events: none;
}

.single-card .front h1{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 220px;
    font-weight: 500;
    font-family: "Arizonia";
}

.single-card .back{
    transform: rotateY(180deg);
    background-color: #504136;
    overflow-y: scroll;
    height:320px;
    font-family: "Exo";
}

.single-card .info{
    font-size: 20px;
}

.single-card .info span{
    font-weight: bolder;
    text-decoration: underline 2px solid;
    font-family: "Museo Moderno";
}

.flashcard-container #next, #next-btn,.flashcard-container #prev, #prev-btn{
    position: absolute;
    color: black;
    background: transparent;
    border: none;
    font-size: xxx-large;
    font-weight: bold;
    left: 50px;
    cursor: pointer;
}

.flashcard-container #next, #next-btn{
    left: unset;
    right: 50px;
}


    /*RESPONSIVE DESIGN*/

@media (max-width: 1200px ) {
    .flipbook-container .book{
        width: 430px;
        height: 600px;
    }
    .flipbook-container .paper img{
        width: 250px;
    }
    .flipbook-container .back-content h1{
        font-size: 3.5em;
    }
    .flipbook-container .front-content .details-container{
        height: 500px;
    }
    .flipbook-container  ul.contents2 {
        height: 450px;
        width: 70;
    }
    
    .flipbook-container ul li.references{
        width: 100%;
        font-size: 12px;
    }
    .flipbook-container .title-ref h1 {
        font-size: 35px;
    }
}

@media (max-width: 1024px) {

    .flipbook-container .book{
        width: 320px;
        height: 450px;
    }

    .flipbook-container .paper:nth-child(2) .back-content img{
        width: 300px;
        border: none;
        box-shadow: none;
     }

    .flipbook-container ul.contents {
        height: 400px;
        width: 50%;
    }
    .flipbook-container ul.contents li a {
        font-size: 1.2em;
        display:flex;
        height: 15px;
        width: 100%;
        margin-top: 3px;
        line-height: 10px;
    }
    .flipbook-container .input-field {
        font-size: 0.8rem;
        width: 100%;
    }
    .flipbook-container .paper img{
        width: 200px;
    }
    .flipbook-container .back-content h1{
        font-size: 2em;
    }
    .flipbook-container .front-content .details-container{
        height: 380px;
    }
    .flipbook-container .front-content{
        font-size: 1.5em;
    }
    .flipbook-container  ul.contents2 {
        height: 350px;
    }
    
    .flipbook-container ul li.references{
        width: 100%;
        font-size: 10px;
    }
    .flipbook-container .title-ref h1 {
        font-size: 25px;
    }
}

@media (max-width: 810px) {

    .flipbook-container .book{
        width: 250px;
        height: 350px;
    }

    .flipbook-container .paper:nth-child(2) .back-content img{
        width: 300px;
        border: none;
        box-shadow: none;
     }

    .flipbook-container ul.contents {
        height: 300px;
        width: 50%;
    }
    .flipbook-container ul.contents li a {
        font-size: 0.8em;
        display:flex;
        height: 0;
        width: 100%;
        border: none;
        margin-top: 8px;
    }
    .flipbook-container .input-field {
        font-size: 0.5rem;
        width: 100%;
    }
    .flipbook-container .paper img{
        width: 150px;
    }
    .flipbook-container .front-content .details-container{
        height: 300px;
    }
    .flipbook-container .front-content{
        font-size: 1em;
    }
    .flipbook-container  ul.contents2 {
        height: 250px;
    }
    
    .flipbook-container ul li.references{
        width: 100%;
        font-size: 7px;
    }
    .flipbook-container .title-ref h1 {
        font-size: 18px;
    }
}

@media (max-width: 700px) {
    .flipbook-container{
        display: none;
    }
    .flashcard-container{
        display: block;
    }
}

@media (max-width: 500px) {

    .flashcard-container{
        min-height: 80vh;
    }
}

@media (max-width: 400px) {
    .flashcard-container{
        min-height: 50vh;
    }
}
