@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&family=Arizonia&family=Exo');

.dropdown_menu a.head{
    color: black;
}

/*----------------------------------------------------------*/
.container1{
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin: 10em 10%;
}

.title{
    font-family:"Arizonia";
    font-size: 5em;
    font-weight: 900;
    margin: 25px;
}

.title_description{
    font-family:"Exo";
    font-size: 2em;
    margin: 25px;
}

.learn_more button{
    font-family:"Exo";
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    cursor: pointer;
    border-radius: 6em;
    transition: all 0.2s;
    border: 2px solid black;
    font-weight: 600;
    color: black;
    background-color: #41B06E;
  }
  
.learn_more button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
.learn_more button:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
.learn_more button::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }
  
.learn_more button::after {
    background-color: #41B06E;
  }
  
.learn_more button:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }

/*              CAROUSEL CONTAINTER               */
.main-carousel-container{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 250px;
}

.main-carousel-container .carousel-container{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(100%);
    gap: 15px;
    
}

.carousel-container{
    position: relative;
    width: 100%;
    max-width: 1300px;
    overflow: hidden;
    cursor: pointer;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.carousel-slide{
    width: 100%;
    text-align: center;
    position:relative;
    scroll-snap-align: center;
    height: auto;
    overflow: visible;
}

.carousel-slide img{
    width: 95%;
    height: 600px;
    border-radius: 20px;
}

.description{
    position:relative;
    bottom: 20%;
    background: #41B06E;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    z-index: 10;
    width: 40%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

h3.title-description{
    font-size: 2.5em;
    font-family: "MuseoModerno";
    font-weight: bold;
}

.detailed-description{
    font-size: 1.5em;
    text-align: left;
    margin: 5px 5%;
    font-family: "Exo";
}

.carousel-container.no-transition{
    scroll-behavior: auto;
}

.carousel-container:active{
    cursor: grabbing;
    user-select: none;
}

/*      COLLAGE CONTAINER        */
.collage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 10% 20px;
    font-family: "Arizonia";
}

.collage-container .collage-title{
    width: 50%;
    padding-bottom: 50px;
}

.collage-container .collage-title h3{
    font-size: 4em;
    font-weight: bolder;
    border-bottom: 3px solid #222;
}

.collage-container .collage-title h3 span{
    font-weight: 100;
}

.collage-container .collage{
    position: relative;
    height: auto;
    width: 70%;
    margin: auto;
    padding: 45px 0;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 2vmin;
    grid-auto-flow: dense;
}

.collage-container .collage img{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
    filter: brightness(0.5) grayscale(100);
    transition: 0.5s ease-in-out;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.9);
}

.collage-container .collage img:hover{
    filter: brightness(1) grayscale(0);
}

.collage-container .collage .img:nth-child(2){
    grid-column-start: span 2;

}

.collage-container .collage .img:nth-child(3){
    grid-column-start: span 2;
}

.collage-container .collage .img:nth-child(5){
    grid-column-start: span 2;
}
.collage-container .collage .img:nth-child(6){
    grid-column-start: span 2;
    grid-row-start: span 1;
}
.collage-container .collage .img:nth-child(10){
    grid-column-start: span 3;
    grid-row-start: span 1;
}

footer{
    height: 35vh;
    background-color: #1A1A19;
    align-items: center;
    margin: auto;
    text-align: center;
    text-decoration: none;
    font-family: "MuseoModerno";
}

footer .icons i{
    padding-top: 35px;
    font-size: 35px;
   
}

footer i, footer .page-about a{
    color:#4e4e4e;
}

footer i{
    margin: 20px 50px;
    transition: all 0.3s;  
}

footer i:hover{
    font-size: 48px;
}

footer .socials i.fa-google:hover{
    color:#db4437;
}
footer .socials i.fa-facebook:hover{
    color:#1877f2;
}
footer .socials i.fa-facebook-messenger:hover{
   color:#0078FF;
}
footer .socials i.fa-github:hover{
    color:#fff;
}
footer .socials i.fa-location:hover{
    color:rgb(40, 151, 40);
}

footer .page-about{
    display: flex;
    text-align: center;
    margin: 100px auto;
    justify-content: space-evenly;
    font-size: 20px;
}

footer .page-about a{
    transition: all 0.3s;
}

footer .left{
    display: flex;
    margin: 5px 0px;
    justify-content: space-evenly;
    min-width: 12%;
}

footer .right{
    display: flex;
    margin: 5px 0px;
    justify-content: space-evenly;
    min-width: 12%;
}

footer .middle img{
    width: 100px;
}
footer .page-about a{
    margin: 0 10px;
}

footer .left a:hover, .right a:hover{
    color: white;
    font-size:23px;
}


/*RESPONSIVE DESIGN*/

@media(max-width: 992px) {
    .title{
        font-size: 4em;
    }
    .title_description{
        font-size: 1.5em;
    }

    .carousel-slide img{
        width: 80%;
        height: 550px;
    }

    h3.title-description{
        font-size: 2em;
    }

    .detailed-description{
        font-size: 1.3em;
    }

    .description{
        width: 40%;
    }

    footer .icons i {
        font-size: 30px;
    }
    footer .icons i:hover {
        font-size: 43px;
    }

    footer .page-about{
        font-size: 15px;
    }

    footer .left a:hover, .right a:hover{
        color: white;
        font-size:18px;
    }
}

@media(max-width: 738px){
    .carousel-container{
        max-width: 600px;
    }

    .carousel-slide img{
        width: 90%;
        height: auto;
    }

    h3.title-description{
        font-size: 1.5em;
    }

    .detailed-description{
        font-size: 1em;
    }

    .description{
        width: 50%;
    }
    .main-carousel-container{
        height: 80vh;
    }
    footer .icons i {
        font-size: 25px;
    }
    footer .icons i:hover {
        font-size: 35px;
    }
    footer .left a:hover, .right a:hover{
        color: white;
        font-size:18px;
    }
    footer i{
        margin: 20px 30px;
    }

    .collage-container .collage-title h3{
        font-size: 3em;
    }
}

@media(max-width: 576px) {
    footer .icons i {
        font-size: 18px;
    }
    footer .icons i:hover {
        font-size: 21px;
    }

    footer .page-about a{
        font-size: 10px;
    }

    footer .page-about .middle img{
        width: 50px;
    }

    footer .left a:hover, .right a:hover{
        color: white;
        font-size:18px;
    }
    footer i{
        margin: 20px 20px;
    }
    .learn_more button{
        font-size: 12px;
    }
    .collage-container .collage-title h3{
        font-size: 1.8em;
    }

    .description{
        width: 70%;
    }
    h3.title-description{
        font-size: 1em;
    }

    .detailed-description{
        font-size: .8em;
    }

    .main-carousel-container{
        height: 50vh;
    }
    .carousel-slide img{
        width: 85%;
        height: auto;
    }
    .title{
        font-size: 2.5em;
    }
    .title_description{
        font-size: 1em;
    }
}