@import url('https://fonts.googleapis.com/css2?family=MuseoModerno');
@import url('https://fonts.googleapis.com/css2?family=Exo&family=Arizonia');


body{
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4) ),
    url('/logo/mainbg.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    overflow-y: hidden;
    height: 100vh;
}


.home {
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.home-content {
    max-width: 65%;
    margin: 0;
    position: relative;
    margin-top: 250px;
    text-align: center;
    bottom: 150px;
}
.background-blur{
    background-color: rgba(0, 0, 0, 0.5);
    inset: 0;
    backdrop-filter: blur(5px);
    position: absolute; 
    padding: 50px;
    border: 5px solid #fcfbe8;
    border-radius: 20px;
    box-shadow: 2px 4px 5px #000000;;
    z-index: 1;
}
.contents{
    position: relative;
    z-index: 2;
    padding: 20px;
}

.home-content h1 {
    font-family: "Arizonia", serif;
    font-weight: 500;
    color: #fcfbe8;
    font-size: 5em;
    margin-bottom: 20px;
    text-shadow: 2px 4px 5px #000000;
}

.home-content p {
    font-family: "MuseoModerno";
    font-size: 25px;
    color: #fcfbe8;
    text-shadow: 2px 4px 5px #000000;
}



@media screen and (max-width: 768px) {
    .home-content h1 {
        font-size: 4em;
    }

    .home-content p {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 540px){
    .home-content h1 {
        font-size: 2.5rem;
    }
    .home-content p {
        font-size: 1rem;
    }
}